[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openapi-spec-validator = "*"
six = "*"
lazy-object-proxy = "*"
logzero = "*"

[dev-packages]
mock = "*"
pytest = "*"
"pytest-pep8" = "*"
pytest-flakes = "*"
pytest-cov = "*"
flask = "*"

[requires]
python_version = "3.6"
